---
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<MainLayout title="Blog">

<h1>
Blog
</h1>

<p>
Development notes, theories, and processes behind CoreWerx.
</p>



<div class="blog-list">
	{posts.map((post) => (
		<article class="post">

			<h2>
				<a href={`/blog/${post.id}`}>
					{post.data.title}
				</a>
			</h2>

			<p class="meta">
				{post.data.date}
			</p>

			<p class="excerpt">
				{post.data.description}
			</p>

		</article>
	))}
</div>


</MainLayout>