---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Example Resource">

<article>

<h1>
Example Resource
</h1>

<p class="meta">
FiveM Resource · Version 1.0.0
</p>


<p>
A description of what this resource does and why someone would want to use it.
Explain the problem it solves and what makes it useful.
</p>


<p>
<a href="#">
Download →
</a>
</p>


<h2>
Features
</h2>

<ul>
<li>Easy installation</li>
<li>Optimized performance</li>
<li>Configurable settings</li>
</ul>


<h2>
Requirements
</h2>

<ul>
<li>FiveM Server</li>
<li>Required dependency here</li>
</ul>


<h2>
Installation
</h2>

<p>
Add the resource folder to your server resources directory, then add it to your server configuration.
</p>

<pre><code>
ensure example-resource
</code></pre>


<h2>
Configuration
</h2>

<p>
Explain configuration options here.
</p>


<h2>
Changelog</h2>

<p>
<strong>1.0.0</strong><br>
Initial release.
</p>


</article>

</MainLayout>