---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Resources">

<h1>
Resources
</h1>

<p>
Scripts, tools, and assets created by CoreWerx.
</p>


<div class="resource-list">


<a class="resource" href="/resources/example">

<h2>
Example Resource
</h2>

<p>
A FiveM resource designed to improve server experiences.
</p>

</a>


<a class="resource" href="/resources/example">

<h2>
Another Resource
</h2>

<p>
A utility or system built for developers and communities.
</p>

</a>


</div>

</MainLayout>